## Basic Arithmatics

In [1]:
2 + 7

9

In [2]:
2 * 9

18

In [3]:
10 ** 2

100

In [4]:
100 ** 0.5

10.0

In [5]:
100 / 9

11.11111111111111

In [6]:
100 // 9

11

In [7]:
100 % 9

1

In [8]:
(2 + 5) * (5 - 2)

21

## Variable Assignment


* The names you use when creating these labels need to follow a few rules:

* 1. Names can not start with a number.
* 2. There can be no spaces in the name, use _ instead.
* 3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
* 4. It's considered best practice (PEP8) that names are lowercase.
* 5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
*or 'I' (uppercase letter eye) as single character variable names.
* 6. Avoid using words that have special meaning in Python like "list" and "str"

In [9]:
a = 5
b = 8
c = a + b
c

13

In [10]:
distance = 100
time = 90
speed = distance / time
speed

1.1111111111111112

#### Determining variable type with type()

You can check what type of object is assigned to a variable using Python's built-in type() function. Common data types include:

    int (for integer)
    float
    str (for string)
    list
    tuple
    dict (for dictionary)
    set
    bool (for Boolean True/False)

In [11]:
a = 3.14
type(a)

float

## Strings

In [12]:
"I'm a string"

"I'm a string"

In [13]:
# Using Jupyter notebook with just a string in a cell will automatically output strings, 
# but the correct way to display strings in your output is by using a print function.
print("I'm a string!")

I'm a string!

In [14]:
a = "I'm a string"
print(a)

I'm a string

In [15]:
print('Use \n to print a new line')
print('Use \n\n to print two new lines')

Use
 to print a new line
Use

 to print two new lines

In [16]:
print("Use \t to add a tab")

Use 	 to add a tab

In [17]:
print(len("What's my length?"))

17

In [18]:
b = "What's my length?"
print(len(b))

17

In [19]:
# Python can use indexes to call parts of the sequence. Let's learn how this works.
c = 'string'
c[0]

's'

In [20]:
c[1]

't'

In [21]:
c[-1]

'g'

In [22]:
c[-2]

'n'

In [23]:
c[1:]

'tring'

In [24]:
c[:-2]

'stri'

In [25]:
c[:]

'string'

In [26]:
c[::]

'string'

In [27]:
c[::2]

'srn'

In [28]:
c[::-1]

'gnirts'

In [29]:
# Evidence that strings are immutable
# c[0] = 'x' will throw and error

In [30]:
# Concatenate strings!
c + ' concatenate me!'

'string concatenate me!'

In [31]:
item = 'y'
item*10

'yyyyyyyyyy'

In [32]:
c.upper()

'STRING'

In [33]:
c.lower()

'string'

In [34]:
c.title()

'String'

In [35]:
s = "I'm just another string"
s.split()

["I'm", 'just', 'another', 'string']

In [36]:
a = 'Harry'
b = 'Nancy'
print('My best friends are {} and {}'.format(a,b))
print(f'I like to travel with {a} and {b}')
print('My best friend is', a, 'and', b)

My best friends are Harry and Nancy
I like to travel with Harry and Nancy
My best friend is Harry and Nancy

In [37]:
bad = ' This is one, ugly,, string  '
bad.lstrip()

'This is one, ugly,, string  '

In [38]:
bad.rstrip()

' This is one, ugly,, string'

In [39]:
bad.strip()

'This is one, ugly,, string'

In [40]:
bad.replace(',', '')

' This is one ugly string  '

In [41]:
bad.replace(',', '').strip()

'This is one ugly string'

In [42]:
bad.find('ugly')

14

In [43]:
bad.index('u')

14

In [44]:
# Define a string
sentence = "This is a sample sentence for splitting"

# Split the sentence into words using space as the delimiter
words = sentence.split()

# Print the list of words
print("List of words:", words)

List of words: ['This', 'is', 'a', 'sample', 'sentence', 'for', 'splitting']

In [45]:
# Join the words using a hyphen as the separator
joined_sentence = ' '.join(words)

# Print the joined sentence
print("Joined sentence:", joined_sentence)

Joined sentence: This is a sample sentence for splitting

In [46]:
# Join the words using a hyphen as the separator
joined_sentence = '-'.join(words)

# Print the joined sentence
print("Joined sentence:", joined_sentence)

Joined sentence: This-is-a-sample-sentence-for-splitting

In [47]:
d = '25'
e = '7 colors'
d.isdigit()

True

In [48]:
sentence.isdigit()

False

In [49]:
e.isalnum()

False

In [50]:
e.isspace()

False

## Lists

### Python Lists

Lists in Python are ordered collections of items. They are versatile and can contain elements of different types, such as integers, strings, or even other lists.

### Creating a List

To create a list, use square brackets `[]` and separate elements with commas:

In [51]:
my_list = [1, 2, 3, 'apple', 'banana', 'cherry']

In [52]:
print(len(my_list))

6

In [53]:
print(my_list[0])
print(my_list[-1])
print(my_list[::-1])

1
cherry
['cherry', 'banana', 'apple', 3, 2, 1]

In [54]:
nums = [8,9,0]
nums.append(11)
nums

[8, 9, 0, 11]

In [55]:
nums.pop(0) # first pop
print(nums)
print(nums.pop(0)) # second pop

[9, 0, 11]
9

In [56]:
my_list.reverse()
print(my_list) # permanent change

['cherry', 'banana', 'apple', 3, 2, 1]

In [57]:
a = [1,4,5,2,3,8]
b = ['ab', 'de', 'cd']

a.sort()
b.sort()
print(a)
print(b)

[1, 2, 3, 4, 5, 8]
['ab', 'cd', 'de']

In [58]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix aka nests of lists
matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [59]:
matrix[0]

[1, 2, 3]

In [60]:
my_list = [1, 2, 3]
my_list.extend([4, 5, 6])
print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [61]:
my_list = [1, 2, 3]
my_list.insert(1, 5) # inserts 5 in index position 1
print(my_list)  # Output: [1, 5, 2, 3]

[1, 5, 2, 3]

In [62]:
my_list = [1, 2, 3, 2]
my_list.remove(2) # Removes the first occurrence of a specified value.
print(my_list)  # Output: [1, 3, 2]

[1, 3, 2]

In [63]:
my_list = [1, 2, 3, 2]
index = my_list.index(2)
print(index)  # Output: 1

1

In [64]:
my_list = [1, 2, 3, 2, 2]
count = my_list.count(2)
print(count)  # Output: 3

3

In [65]:
my_list = [1, 2, 3]
copied_list = my_list.copy()
print(copied_list)  # Output: [1, 2, 3]

[1, 2, 3]

## Python Dictionaries

Dictionaries in Python are unordered collections of key-value pairs. They are versatile data structures used to store and retrieve data efficiently.

#### Creating a Dictionary

To create a dictionary, use curly braces `{}` and separate key-value pairs with colons `:`:

In [66]:
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [67]:
print(my_dict['key1'])  # Output: 'value1'

value1

In [68]:
my_dict['key2'] = 'new_value'
my_dict

{'key1': 'value1', 'key2': 'new_value', 'key3': 'value3'}

In [69]:
my_dict['key4'] = 'value4'
my_dict

{'key1': 'value1', 'key2': 'new_value', 'key3': 'value3', 'key4': 'value4'}

In [70]:
del my_dict['key3']  # Removes 'key3' and its value
my_dict

{'key1': 'value1', 'key2': 'new_value', 'key4': 'value4'}

In [71]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
keys = my_dict.keys()
print(keys)  # Output: dict_keys(['a', 'b', 'c'])

dict_keys(['a', 'b', 'c'])

In [72]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
values = my_dict.values()
print(values)  # Output: dict_values([1, 2, 3])

dict_values([1, 2, 3])

In [73]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
items = my_dict.items()
print(items)  # Output: dict_items([('a', 1), ('b', 2), ('c', 3)])

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [74]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict.get('b') # Retrieves the value associated with a key, or a default value if the key doesn't exist.
print(value)  # Output: 2

value = my_dict.get('d', 'Key not found')
print(value)  # Output: 'Key not found'

2
Key not found

In [75]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
popped_value = my_dict.pop('b')
print(popped_value)  # Output: 2
print(my_dict)  # Output: {'a': 1, 'c': 3}

2
{'a': 1, 'c': 3}

In [76]:
my_dict = {'a': 1, 'b': 2}
new_dict = {'b': 3, 'c': 4}
my_dict.update(new_dict) # Merges one dictionary into another.
print(my_dict)  # Output: {'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}

In [77]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.clear() # Removes all elements from the dictionary.
print(my_dict)  # Output: {}

{}

# Python Tuples

Tuples in Python are ordered collections of elements that are immutable, meaning their values cannot be changed after creation. They are similar to lists but with the key distinction of immutability.

## Creating a Tuple

To create a tuple, use parentheses `()` and separate elements with commas:

In [78]:
my_tuple = (1, 'apple', 3.14, True)

In [79]:
print(my_tuple[0])  # Accesses the first element

1

In [80]:
print(my_tuple[1:3])  # Retrieves elements from index 1 to 2 (excluding 3)

('apple', 3.14)

In [81]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)  # Output: 3 (since 2 appears 3 times in the tuple)

3

In [82]:
my_tuple = (1, 2, 3, 2, 4, 2)
index = my_tuple.index(3)
print(index)  # Output: 2 (since 3 is at index 2 in the tuple)

2

In [83]:
# Creating a tuple
my_tuple = (1, 'apple', 3.14)

# Unpacking the tuple into separate variables
num, fruit, pi = my_tuple

# Printing the unpacked values
print(num)    # Output: 1
print(fruit)  # Output: 'apple'
print(pi)     # Output: 3.14

1
apple
3.14

## Python Sets

Sets in Python are unordered collections of unique elements. They are useful for tasks that involve unique items or testing membership and performing mathematical set operations.

#### Creating a Set

To create a set, use curly braces `{}` and separate elements with commas:

In [84]:
my_set = {1, 2, 3, 4}

In [85]:
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

In [86]:
my_set.remove(3) # removes 3 not the index 3
my_set

{1, 2, 4, 5}

In [87]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2
symmetric_difference = set1 ^ set2

In [88]:
print(union)
print(intersection)
print(difference)
print(symmetric_difference)

{1, 2, 3, 4}
{2, 3}
{1}
{1, 4}

In [89]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [90]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
union = set1.union(set2)
print(union)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [91]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)  # Output: {2, 3}

{2, 3}

In [92]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
difference = set1.difference(set2)
print(difference)  # Output: {1}

{1}

In [93]:
# Returns a new set with elements that are in either of the sets, but not in both
set1 = {1, 2, 3}
set2 = {2, 3, 4}
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)  # Output: {1, 4}

{1, 4}

In [94]:
# Checks if two sets have no elements in common
set1 = {1, 2, 3}
set2 = {4, 5, 6}
disjoint = set1.isdisjoint(set2)
print(disjoint)  # Output: True

True

## Python Booleans

Booleans in Python represent truth values. They are used to evaluate expressions, control flow, and make logical decisions.

#### Boolean Values

- **True and False**: Booleans have two possible values: `True` and `False`. They are keywords in Python and are case-sensitive.

In [95]:
a = True
b = False

In [96]:
x = 5
y = 10
result = x < y  # result will be True

In [97]:
p = True
q = False
result_and = p and q  # result_and will be False
result_or = p or q    # result_or will be True
result_not = not p    # result_not will be False

In [98]:
age = 18
if age >= 18:
    print("You are an adult.")
else:
    print("You are not yet an adult.")

You are an adult.

In [99]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        print("Found it!")
        break

Found it!

In [100]:
x = 5
result = isinstance(x, int)
print(result)  # Output: True

True

In [101]:
text = "Hello, world!"
start = text.startswith("Hello")
end = text.endswith("world!")
print(start)  # Output: True
print(end)    # Output: True

True
True

In [102]:
number = "12345"
result = number.isnumeric()
print(result)  # Output: True

True

In [103]:
text_upper = "HELLO"
text_lower = "world"
result_upper = text_upper.isupper()
result_lower = text_lower.islower()
print(result_upper)  # Output: True
print(result_lower)  # Output: True

True
True

In [104]:
text_alpha = "Hello"
text_digit = "12345"
result_alpha = text_alpha.isalpha()
result_digit = text_digit.isdigit()
print(result_alpha)  # Output: True
print(result_digit)  # Output: True

True
True

# The end, thanks for reading.